p.satu{
  width: 300px;
  height: 100px;
  background-color: aqua;
  padding: 10px 10px 20px;
  border: 0.5em dotted red;
  overflow: scroll;
}

p.dua{
  width: 300px;
  height: 100px;
  background-color: aqua;
  padding: 10px 10px 20px;
  border: 0.5em solid green;
  overflow: scroll;
}

p.tiga{
  width: 300px;
  height: 100px;
  background-color: aqua;
  padding: 10px 10px 20px;
  border: 1em dashed blue;
  overflow: scroll;
}
